:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #4a5568;
  --border-color: rgb(203, 213, 224);
  --title-color: #1a202c;
  --subheading-color: #4a5568;
  --bgsection-color: rgb(237, 242, 247);
  --bgdecs-color: rgb(229, 248, 254);
  --bgheading-color: #222;
  --bgsection-footer: #f7fafc;
  --saphire-color: #14b9d5;
  --green-color: #1bbc9b;
  --red-color: #f76570;
  --orange-color: #f3a46b;
  --yellow-color: #ffd205;
  --purple-color: #ba71da;
}

@font-face {
  font-family: Mt;
  src: url(../../fonts/Mt-Regular.otf);
  font-display: swap;
}
@font-face {
  font-family: Mt-SemiBold;
  src: url(/assets/fonts/Mt-SemiBold.otf);
  font-display: swap;
}
@font-face {
  font-family: Mt-Bold;
  src: url(/assets/fonts/Mt-Bold.otf);
  font-display: swap;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif !important; */
  scroll-behavior: smooth;
}

body {
  font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif !important;
  overflow-x: hidden;
}

/* ======== scrollbar ========= */
body::-webkit-scrollbar {
  width: 10px; /*Độ rộng scrollbar*/
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
  border-radius: 50px;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 50px;
}

select::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

.popup__wrap::-webkit-scrollbar {
  width: 10px;
}

.popup__wrap::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 50px;
}

.popup__wrap::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

/* ======== scrollbar ========= */

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/*=========== AMINATION =========*/

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

.global-wrap {
  overflow: hidden;
}

.rotate-90 {
  transform: rotate(90deg);
}

.pass {
  color: var(--green-color);
}

/*========== Btn style ==========*/
.btn {
  min-width: 124px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 15px 8px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

/* row reverse */

.flex-direction-column {
  flex-direction: column !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* text color */
.text-white {
  color: var(--white-color);
}

.text-green {
  color: var(--green-color) !important;
}

.text-orange {
  color: var(--orange-color) !important;
}

.text-blue-sky {
  color: #14b9d5 !important;
}

.text-default {
  color: var(--text-color) !important;
}

/* background color */

.background-white {
  background-color: var(--white-color);
}

.background-yellow {
  background-color: #ffd205;
}

.background-pink {
  background-color: #f76570;
}

.background-purple {
  background-color: #ba71da;
}

.background-green {
  background-color: #1bbc9b;
}

.background-blue-sky {
  background-color: #14b9d5;
}

/* Btn color */
.btn-yellow {
  background-color: #ffd205;
}

.btn-pink {
  background-color: #f76570;
}

.btn-purple {
  background-color: #ba71da;
}

.btn-blue-sky {
  background-color: #14b9d5;
}

.btn-orange {
  background-color: #f3a46b;
}

.btn-white {
  background-color: var(--white-color);
}

/* ------btn gradient----- */
.btn-yellow-g {
  background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.btn-purple-g {
  background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}

.btn-pink-g {
  background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.btn-green-g {
  background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
}

.btn-orange-g {
  background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
}

.btn-blue-sky-g {
  background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
}

.btn-blue-g {
  background: linear-gradient(to right, #4facfe 0%, #14b9d5 100%);
}

/* btn hover */
.btn-white:hover {
  background: linear-gradient(to right, #edc3ff 0%, #ffd7db 100%);
}

.btn-yellow:hover {
  background: linear-gradient(to left bottom, #ffd205 0%, #ff9b05 100%);
}

.btn-pink:hover {
  background: linear-gradient(to left bottom, #f76570 0%, #f75c2d 100%);
}

.btn-purple:hover {
  background: linear-gradient(to left bottom, #ba71da 0%, #da717b 100%);
}

.btn-blue-sky:hover {
  background: linear-gradient(to left bottom, #14b9d5 0%, #14d5b1 100%);
}

.btn-orange:hover {
  background: linear-gradient(to left bottom, #f3a46b 0%, #ff792c 100%);
}

/*Canh lề*/
.mt-6 {
  margin-top: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pdr-32 {
  padding-right: 32px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.form-group{
  margin-bottom: 15px;
}
/* =========== TOGGLE SWICHES ======== */
.toggle-switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-direction {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.toggle-direction:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9a9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.toggle-direction span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.toggle-direction span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: var(--bgdecs-color);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle-direction:before {
  background: rgb(20, 185, 213, 0.35);
}
#cbx:checked + .toggle-direction span {
  background: var(--saphire-color);
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle-direction span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* =========== scroll to top ========= */
.scroll-to-top {
  position: fixed;
  right: 40px;
  bottom: 70px;
  border: 5px solid var(--saphire-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: none;
  cursor: pointer;
  z-index: 10;
}

#return-to-top {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top svg {
  position: absolute;
  color: var(--saphire-color);
  font-size: 22px;
  font-weight: 700;
  transition: transform 0.5s ease-in;
}

.scroll-to-top:hover svg {
  transform: rotate(360deg);
}

/* =========== scroll to top ========= */

/* ============== toast ========*/
.toast-warning {
  min-width: 400px;
  max-width: 500px;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  z-index: 1010;
  font-size: 14px;
  position: fixed;
  top: 20%;
  right: 32px;
  display: flex;
  align-items: center;
  border-left: 4px solid var(--red-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all linear 0.3s;
}

.toast-passenger {
  transform: translateX(115%);
}

.toast-location {
  transform: translateX(115%);
}

.toast-location span {
  flex: 1;
  text-align: left;
}

.toast-passenger.active {
  transform: translateX(0);
}

.toast-location.active {
  transform: translateX(0);
}

.toast-warning svg {
  color: var(--red-color);
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
/* =============== end toast =================*/

/* ======== button tìm chuyến bay ========== */
.button-gradient {
  display: block;
  width: 320px;
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: normal;
  border: none;
}

.button-gradient.continue {
  width: 250px;
}

.button-gradient.sidebar-continue,
.button-gradient.home {
  width: 100%;
  /* margin-top: 10px; */
  font-size: 20px;
}

.button-gradient.book {
  width: 270px;
  margin: auto 0 auto auto;
}

.instagram {
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  color: var(--white-color);
  background: var(--saphire-color);
  transition: all 0.2s ease-out 0s;
  font-weight: bold;
}

.instagram.book {
  padding: 12px;
}

a.instagram:hover {
  color: #000;
}

.gradient {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(
    90px circle at top center,
    rgba(25, 57, 178, 0.8) 30%,
    rgba(255, 255, 255, 0)
  );
  transition: all 0s ease-out 0s;
  transform: translatex(-140px);
  animation: 18s linear 0s infinite move;
}

@keyframes move {
  0% {
    transform: translatex(-140px);
  }
  25% {
    transform: translatex(140px);
    opacity: 0.3;
  }
  50% {
    transform: translatex(140px);
    opacity: 1;
    background: radial-gradient(
      90px circle at bottom center,
      rgba(25, 57, 178, 0.5) 30%,
      rgba(255, 255, 255, 0)
    );
  }
  75% {
    transform: translatex(-140px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translatex(-140px);
    background: radial-gradient(
      90px circle at top center,
      rgba(25, 57, 178, 0.5) 30%,
      rgba(255, 255, 255, 0)
    );
  }
}

/* icon */

.svg-plane {
  fill: var(--saphire-color);
  margin-bottom: 4px;
  transform: rotate(180deg);
}

.journey-line {
  border-left: 1px solid var(--saphire-color);
  height: 132px;
  padding-bottom: 24px;
  width: 1px;
  padding-top: 4px;
}

/* ========== TITLE ========== */
.section-title {
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  color: var(--title-color);
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  position: relative;
  z-index: 0;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.box-title {
  position: absolute;
  left: 0;
  bottom: 0;

  color: var(--white-color);
  width: 100%;
  height: 70px;

  display: flex;
  padding: 0 0 25px 25px;
  font-size: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  align-items: flex-end;
  font-weight: 600;
  line-height: 26px;
  border-radius: 0px 0px 8px 8px;
}

.box-heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 12px;
  line-height: 20px;
}

.box-subheading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
}

.box-heading-h6,
.thead-title,
.name__passenger--title,
.luggage__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--title-color);
  margin-bottom: 0;
}

.title-input,
.title-select,
.caption-details,
.caption-birthday {
  color: var(--title-color);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.box-subheading-span,
.tbody-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-color);
}

/* ======== BREADCRUMB ======== */
.breadcrumb__list {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

li.breadcrumb__item {
  margin-right: 10px;

  position: relative;
}

li.breadcrumb__item:hover a {
  color: var(--saphire-color);
}

li.breadcrumb__item a {
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  color: var(--title-color);
}

li.breadcrumb__item span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

li.breadcrumb__item.current a {
  color: var(--saphire-color);
}

/* CSS FOR ERR */
.err__name {
  margin-top: 5px;
  font-size: 14px;
  color: #ec2029;
}

/* === Position ==== */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center{
  align-items: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* =========== menu nav for screen tablet ========== */
#slide-menu {
  display: none;
}

.header-slide-menu__btn {
  cursor: pointer;
  /* position: relative; */
  display: none;
}

.header-slide-menu__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: linear-gradient(to left, rgba(239, 50, 217, 0.4), rgba(137, 255, 253, 0.4));
  animation: fadeIn linear 0.2s;
}

.mobile-menu {
  display: flex;
  /* display: none; */
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  width: 285px;
  max-width: 100%;
  overflow-y: scroll;
  background-color: var(--border-color);
  transform: translateX(100%);
  transition: transform ease-out 0.5s;
  overflow: hidden;
  z-index: 2;
}
.mobile-menu-wrapper {
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.mobile-menu svg {
  transform: rotate(45deg);
  position: absolute;
  box-sizing: content-box;
  display: inline-block;
  padding: 10px;
  top: 6px;
  right: 12px;
  color: var(--white-color);
  cursor: pointer;
}

.mobile-menu__title {
  display: block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
}

.mobile-menu__list {
  list-style: none;
}

.mobile-menu__item-link,
.header-phone-mobile a {
  display: block;
  font-size: 14px;
  line-height: 4.5rem;
  letter-spacing: 2px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-menu__item-link:hover,
.header-phone-mobile:hover a {
  color: var(--saphire-color);
}

#slide-menu:checked ~ .mobile-menu {
  transform: translateX(0%);
}

#slide-menu:checked ~ .header-slide-menu__overlay{
  display: block;
}

.menu-control__mobile-wrap{
  display: none;
}