.section-choose-flight {
  margin-top: 96px;
  background: var(--bgsection-color);
  padding-bottom: 30px;
}

#progressbar {
  overflow: hidden;
  margin-top: 20px;
  overflow: hidden;
  counter-reset: step;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 20px;
  border-radius: 8px;
  background: var(--white-color);
}

#progressbar li {
  list-style-type: none;
  color: #000;
  float: left;
  position: relative;
  text-align: center;
  width: 25%;
  font-size: 14px;
}

#progressbar li::before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 12px;
  color: #333;
  background: rgba(203, 203, 203, 0.2);
  border-radius: 3px;
  text-align: center;
  margin: auto;
}

#progressbar li::after {
  content: "";
  width: 71%;
  height: 2px;
  background: #dbdbdb;
  position: absolute;
  right: 65%;
  top: 9px;
}

#progressbar li.current:before,
#progressbar li.current:after,
#progressbar li.pass:before,
#progressbar li.pass:after {
  background: var(--green-color);
  color: #fff;
  z-index: 1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.pass a {
  color: var(--green-color);
}

/* ========== LIST FLIGHT ========= */
.result-flight {
  margin: 25px 25px 0 0;
  border-radius: 8px;
}
.flight-item {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--white-color);
  padding: 16px 16px 10px;
  margin-bottom: 16px;
}

.flight-item:hover {
  border: 1px solid var(--saphire-color);
}

.flight-infor {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.flight-infor-item {
  display: flex;
  width: 30%;
}

.infor-plane-wrap {
  width: 35%;
}

.infor-plane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infor-brand {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.flight-transit-1 .infor-brand{
     margin-right: 0;
}

.infor-plane__name {
  display: flex;
  overflow: hidden;
  margin-left: 8px;
  flex-direction: column;
}

.time__depart,
.time__destination {
  display: flex;
  font-size: 18px;
}

.flight-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.flight-details-item {
  width: 33,33%;
}

.flight-details .details {
  background: var(--bgsection-color);
  border-radius: 20px;
  padding: 5px 10px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.flight-details .details:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.flight-details .details svg {
  margin-right: 5px;
}

.flight-details button {
  border-radius: 8px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
}

.flight-details:hover button{
  color: var(--white-color);

}

.infor-brand img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.infor-duration {
  display: flex;
  flex-direction: column;
}

/* ============== Xem chi tiết từng chuyến bay ========== */
.flight-infor-details {
  margin-top: 10px;
  padding: 15px;
  background: var(--bgsection-color);
  border-radius: 8px;
  height: auto;
  min-width: 0px;
  display: flex;
  
}


.flight-infor-details.is-visible {
  display: flex;
  height: auto;
  padding: 15px;
  margin-top: 10px;
}


.infor-details__wrap{
  width: 50%;
}

.infor-details-journey{
  flex: 1;
}

.infor-other{
  margin-top: 20px;
}

.infor-other li{
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.infor-other li span{
  margin-left: 10px;
  text-align: justify;
}

.infor-journey-wrap {
  display: flex;
  flex: 1.5 1 0%;
  min-height: 200px;
}

.flight-transit-1 .infor-journey-wrap {
  display: flex;
  flex: 1.5 1 0%;
  min-height: 400px;
}

.journey-datetime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.journey-datetime .datetime-depart,
.journey-datetime .datetime-arrive {
  display: flex;
  flex-direction: column;
  min-width: 80px;
  margin-right: 8px;
  text-align: end;
}

.datetime-duration {
  text-align: right;
}

.journey-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
}

.journey-citypair{
     display: flex;
     flex-direction: column;
     /* height: 100%; */
     justify-content: space-between;
     margin-left: 8px;
}

.citypair-arrive h6{
     margin-top: 16px;
}

.journey-infor-plane{
     display: flex;
     align-items: center;
}


.infor-price__body tr:last-child{
  border-top: 1px solid var(--border-color);
}

.infor-price th, 
.infor-price td{
     padding: 7px;
     text-align: right;
}

.infor-price tr td:first-child{
  text-align: left;
}

.infor-price strong{
     color: var(--black-color);
}

td.total_amount{
     color: #ec2029;
     font-weight: 600;
     font-size: 16px;
}

.infor-journey__transit,
.infor-citypair__transit{
     display: flex;
     /* height: 100%; */
     justify-content: space-between;
     flex-direction: column;
}

.journey-datetime__transit-1,
.journey-citypair__transit-1
{
     height: 185px;
}

.journey-datetime__transit-2,
.journey-citypair__transit-2{
     height: 215px;
}

.journey-datetime__transit-3,
.journey-citypair__transit-3{
     height: 215px;
}

.location__transit h6{
     margin-left: 8px;
     color: var(--saphire-color);
}

.location__transit{
     position: relative;
}

.location__transit::before{
     content: "";
     position: absolute;
     bottom: 0;
     left: -80px;
     width: 140%;
     height: 1px;
     background: var(--saphire-color);
}
