.section-box-passengers {
  margin: 25px 25px 0 0;
  background: var(--white-color);
  border-radius: 8px;
  padding: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
  line-height: 22px;
  margin-bottom: 12px;
}

.section__decs {
  color: var(--saphire-color);
  padding: 15px;
  border-bottom: 1px solid rgb(237, 242, 247);
  font-size: 14px;
  background-color: rgb(229, 248, 254);
  border-radius: 8px;
}

.infor-passenger-wrap,
.contact-passenger-wrap,
.special-request-wrap {
  margin-top: 16px;
}

ul.infor-passenger-wrap li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.infor-passengers__submit {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.adult-passenger,
.child-passenger,
.infant-passenger {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.adult-wrap,
.child-wrap,
.infant-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.adult-icon,
.child-icon,
.infant-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  margin-right: 8px;
  background-color: var(--bgsection-color);
}


.asterisk {
  color: #ec2029;
  font-weight: 600;
}

.box-input,
.box-select {
  width: 100%;
  padding: 10px 15px;
  position: relative;
  font-size: 14px;
  outline: none;
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
}

/* YÊU CẦU ĐẶC BIỆT */
.special-request__textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  outline: none;
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

/* SELECT LUGGAGE */
.dep_addbaggage {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.signed-luggage {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  border-radius: 0.375rem;
  padding: 10px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-size: 13px;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--text-color) transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-10px, -25%);
}

.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent var(--text-color) transparent;
}

.content__luggage{
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-color);
}

.seclect__luggage--options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* width: 110%; */
}
.seclect__luggage--options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-size: 14px;
}
.seclect__luggage--options li:hover,
.seclect__luggage--options li.is-selected {
  color: var(--saphire-color);
  background-color: var(--bgsection-color);
}
/* .seclect__luggage--options li[rel="hide"] {
  display: none;
} */

.luggage__title {
  margin-bottom: 12px;
  color: var(--saphire-color);
}


/* ========= NGÀY THÁNG NĂM SINH ========= */
.dropdown-box-birthday{
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
}

.birthday,
.birthmonth,
.birthyear{
  font-size: 14px;
  color: var(--title-color);
  width: 100%;
  cursor: pointer;
  appearance: menulist;

}

.dropdown-box-birthday li{
  width: 100%;
  margin-right: 10px;
  border-bottom: none !important;
}

.dropdown-box-birthday li:last-child{
  margin-right: 0px;
}

#err__contact{
  color: #ec2029;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[class*=passenger_name], input[id*=contact_name]{
  text-transform: uppercase;
}