.sidebar-filters {
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  background: var(--white-color);
  margin-top: 24px;
  padding: 20px;
}

.sidebar-filters-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.sidebar__title,
.sidebar__reset {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  padding: 10px 0;
}

.sidebar__reset {
  color: var(--saphire-color);
  cursor: pointer;
}

/* ========= PAGE TÌM CHUYẾN BAY ========= */
.options__airline--item {
  display: flex;
  align-items: center;
}

.options__airline--item span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-color);
  margin-left: 10px;
}

#filter-options__airline li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 4px;
}

.filter-flight__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--text-color);
  margin-bottom: 10px;
}

/*====== Checkboxes styles ======*/
.filter-flight__transit {
  margin-top: 20px;
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
}

.options__transit--item,
.options__airline--item {
  margin-bottom: 8px;
}

.options__transit--item:last-child,
.options__airline--item:last-child {
  margin-bottom: 0px;
}
.sidebar-filters input[type="checkbox"] {
  display: none;
}

.sidebar-filters input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 30px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sidebar-filters input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--saphire-color);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.sidebar-filters input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* =========== SIDEBAR INFOR JOURNEY ========= */
.sidebar-journey,
.sidebar-table__prices {
  width: 100%;
  border-radius: 8px;
  background: var(--white-color);
  margin-top: 24px;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.journey-infor__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.journey-infor__title label,
.infor-ticket-title label {
  background-color: var(--saphire-color);
  color: var(--white-color);
  width: 80px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 600;
  line-height: 15px;
  font-size: 12px;
}

.journey-infor__title span,
.infor-ticket-title span {
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  color: var(--text-color);
}

.journey-infor__datetime {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 12px;
}

.journey-details .journey-line {
  height: 120px;
}

.hr-line-1{
  margin-top: 12px;
  height: 1px;
  color: var(--saphire-color);
}

.journey-rep-wrap{
  margin-top: 20px;
}

/* ======== BẢNG GIÁ ========= */
.sidebar-table__prices table{
  width: 100%;
}

.table__price--return{
  padding-top: 20px;
  margin-top: 10px;
}

.total_amount--depart,
.total_amount--return{
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
}

.total__price-wrap{
  display: flex;
  justify-content: space-between;
  background-color: var(--bgdecs-color);
  padding: 20px;
  color: var(--saphire-color);
  margin-top: 10px;
}

.total__price-title h6{
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 600;
  color: var(--title-color);
}

.total__price-title p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.total__price{
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #ec2029;

}